[submodule "PIKE_RAG_media"]
	path = PIKE_RAG_media
	url = https://github.com/songCNMS/PIKE-RAG-github.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "verl_tool"]
	path = verl_tool
	url = https://github.com/songCNMS/verl_tool
