[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/songCNMS/LLaMA-Factory.git
[submodule "Search_R1"]
	path = Search_R1
	url = https://songCNMS@github.com/songCNMS/Search_R1.git
[submodule "PIKE_RAG"]
	path = PIKE_RAG
	url = https://github.com/songCNMS/PIKE-RAG-github.git
[submodule "agent-lightning"]
	path = agent-lightning
	url = https://github.com/songCNMS/agent-lightning
